{
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "no-console": "off",
    "max-len": [
      "warn",
      {
        "code": 125
      }
    ],
    "semi": "warn",
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "import/no-dynamic-require": "off",
    "no-return-await": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-await-in-loop": "off",
    "consistent-return": "off",
    "prefer-promise-reject-errors": "off",
    "global-require": "off"
  }
}
